<p>
  pipe-component works!
</p>
<p>{{'done'|uppercase}}</p>
<p>{{'HERBERT'|lowercase}}</p>
<div>{{time|date}}</div>
<p>{{time|date:'short'}}</p>
<p>{{time|date:'short'}}</p>
<p>{{time|date:'shortTime'}}</p>
<p>{{time|date:'longTime'}}</p>
<p>{{time|date:'fullTime'}}</p>
<p>{{time|date:'shortDate'}}</p>
<p>{{time|date:'longDate'}}</p>
<p>{{time|date:'shortDate'}}</p>
<p>{{time|date:'d/M/Y'}}</p>
<hr>

<p>{{10000|currency}}</p>
<p>{{10000|currency:'EUR'}}</p>
<p>{{10000|currency:'EUR' : 'code'}}</p>
<p>{{10000|currency:'NGN' : 'symbol-narrow'}}</p>
<p>{{10000|currency:'GBP'}}</p>
<p>{{10000|currency:'CAD'}}</p>
<p>{{10000|currency:'CNY'}}</p>
<hr>
<!-- <p>{{'investment'|slice:2}}</p> -->
<p>{{'information'|slice:2}}</p>
<p>{{'information'|slice:2:6 }}</p>
<p>{{'information'|slice:2:8 }}</p>
<p>{{'information'|slice:0:6 }}</p>
<p>{{'information'|slice:2:5 }}</p>
<p>{{'information'|slice:0:5 }}</p>
<p>{{'information'|slice:9:11 }}</p>
<p>{{'information'|slice:8:11 }}</p>
<p>{{'information'|slice:5:11 }}</p>


























