<p>
  user-info-component works!
</p>
  

    <div>
      <div class="shadow col-6" *ngFor="let user of usersData">
       <div class="my-4 p-5 text-center">
          <button class="btn btn-success text-light  w-100"  
          > {{ user.firstName }}
        </button> 
        <!-- <button class="btn btn-success text-light  w-100"  
        > {{ user.lastName }}
      </button>
      <button class="btn btn-success text-light  w-100"  
      > {{ user.age }}
    </button>
    <button class="btn btn-success text-light  w-100"  
    > {{ user.email }}
  </button> -->
        
       </div>
      </div>
    </div>
    