<p>
  sign-up-component works!
</p>

<div class="col-6 mx-auto shadow"> 
<h1>Sign-up</h1>
<input type="text" placeholder="Firstname" class="form-control my-3" [(ngModel)]="firstname" >
<input type="text" placeholder="Last_name" class="form-control my-3" [(ngModel)]="lastname" >
<input type="text" placeholder="Address" class="form-control my-3" [(ngModel)]="age" >
<input type="text" placeholder="@email" class="form-control my-3" [(ngModel)]="email" >
<input type="text" placeholder="Gender" class="form-control my-3" [(ngModel)]="address" >
<input type="password" placeholder="password" class="form-control my-3" [(ngModel)]="password" >
<button class="btn btn-dark my-3 col-3" (click)="signup()"> Add</button>
</div>