<p>
  signup4-component works!
</p>
<div>
  <div class=" mx-auto col-10">
<h4 class=" alert alert-primary text-primary text-center"><b>Signup-Here-&-Go-To-Parent</b></h4>
    <input type="text"  class="form-control my-3 w-100 " placeholder="First Name" [(ngModel)]="firstName">
    <input type="text"  class="form-control my-3 w-100 " placeholder="Last Name" [(ngModel)]="lastName">
    <input type="number"  class="form-control my-3 w-100 " placeholder="Age" [(ngModel)]="age">
    <input type="email"  class="form-control my-3 w-100 " placeholder="Email" [(ngModel)]="email">
    <button class="btn btn-outline-primary w-100" (click)="signUp()">Sign Up</button>
    
  </div>
</div>