<p>
  sign1-component works!
</p>

<!-- signup.component.html -->
<div *ngIf="step === 1">
  <h2 class="text-center "><b>Signup-1</b></h2>
  <form class=" col-10 mx-auto" (ngSubmit)="onSubmit()">
   
    <input type="text" class="form-control" placeholder="firstname" name="firstName" [(ngModel)]="userData.firstName" required><br>
    
    <input type="text" class="form-control" placeholder="lastname" name="lastName" [(ngModel)]="userData.lastName" required><br>
    <button class="btn btn-dark w-100" type="submit">Next</button>
  </form>
</div>

<div *ngIf="step === 2">
  <h2>Signup - Step 2</h2>
  <form class="col-10 mx-auto" (ngSubmit)="onSubmit()">
    <input type="email" class="form-control" placeholder="email" name="email" [(ngModel)]="userData.email" required><br>
    <button class="btn btn-dark w-100" type="submit">Next</button>
  </form>
</div>

<div *ngIf="step === 3">
  <h2>Signup - Step 3</h2>
  <form class="col-10 mx-auto" (ngSubmit)="onSubmit()">
 <input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="userData.password" required><br>
    <button class="btn btn-dark w-100" type="submit">Submit</button>
  </form>
</div>
